    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #f4f4f4;
        color: #333;
        scroll-behavior: smooth;
    }
    
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #ffffff;
        padding: 20px 50px;
        box-shadow: 0 2px 8px rgb(0, 0, 0, .1);
        position: sticky;
        top: 0;
        z-index: 100;
    }
    /* hero section */
    
    .logo a {
        font-size: 28px;
        color: #0077cc;
        text-decoration: none;
        font-weight: bold;
    }
    
    .navbar a {
        margin-left: 20px;
        text-decoration: none;
        font-size: 16px;
        color: #333;
        font-weight: 500;
        transition: color 0.3s;
    }
    
    .navbar a:hover {
        color: #0077cc;
    }
    
    .hero {
        text-align: center;
        padding: 100px 20px;
        background-color: #e0f7fa;
    }
    
    .hero h1 {
        font-size: 36px;
        color: #0077cc;
        margin-bottom: 20px;
    }
    
    .hero h1 span {
        color: #00b894;
    }
    
    .hero p {
        font-size: 18px;
        color: #444;
        margin-bottom: 30px;
    }
    
    .btn {
        background: #0077cc;
        color: #ffffff;
        padding: 12px 25px;
        text-decoration: none;
        border-radius: 6px;
        font-weight: bold;
        transition: ease 0.3s;
    }
    
    .btn:hover {
        background: #005fa3;
    }
    /* about section */
    
    .about {
        background: #fff;
        padding: 80px 20px;
        text-align: center;
    }
    
    .about h2 {
        font-size: 32px;
        color: #0077cc;
        margin-bottom: 20px;
    }
    
    .about p {
        font-size: 18px;
        color: #555;
        max-width: 700px;
        margin: 0 auto;
        line-height: 1.7 0
    }
    /* services section */
    
    .services {
        padding: 80px 20px;
        background-color: #e0f7fa;
        text-align: center;
    }
    
    .services h2 {
        font-size: 32px;
        color: #0077ff;
        margin-bottom: 40px;
    }
    
    .services-contaner {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }
    
    .services-box {
        background-color: #fff;
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        padding: 30px 20px;
        width: 300px;
        transition: 0.3s ease;
    }
    
    .services-box:hover {
        transform: translateY(-5px);
    }
    
    .services-box h3 {
        color: #00b894;
        margin-bottom: 15px;
    }
    
    .services-box p {
        color: #555;
        font-size: 16px;
        line-height: 1.5;
    }
    /* contact section */
    
    .contact {
        padding: 80px 20px;
        background-color: #fff;
        text-align: center;
    }
    
    .contact h2 {
        font-size: 32px;
        color: #0077cc;
        margin-bottom: 30px;
    }
    
    .contact-form {
        max-width: 500px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    
    .contact-form input,
    .contact-form textarea {
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 8px;
        font-size: 16px;
        resize: none;
    }
    
    .contact-form button {
        background-color: #0077cc;
        color: #fff;
        border: none;
        padding: 12px;
        font-size: 16px;
        border-radius: 8px;
        cursor: pointer;
        transition: 0.3s ease;
    }
    
    .contact-form button:hover {
        background-color: #005fa3;
    }
    /* footer section */
    
    .footer {
        background-color: #0077cc;
        color: #ffffff;
        text-align: center;
        padding: 20px;
        font-size: 14px;
    }